@media only screen and (max-width:768px) {
    .navbar-brand{
        padding-left: 0.5rem;
       background-color: initial;
    }
    .collapse .navbar-collapse{
        padding-left: 2rem;
    }
    .section-1 .row .col-md-6 {
    position: initial;
    width: initial;
    height: initial;
    
    }
    .section-3 .row .col-md-6{
        display: inline-block;
        font-size: 20px;
    }
    .section-7 .row .wrapbox-industry-themes .col-md-3 .lazyload{
        position: initial;
    width: initial;
    height: initial;
    background: none;
    margin:2px;
    padding:10vmin;
    width: 100%;
    }
}
